.spinnerContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.spinnerBtnContainer {
    position: relative;
}

.spinnerBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}