.container {
    padding-left: 20px;
}

.wrapIcon {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wrapDetailsGrid {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.detailsContainer {
    margin-top: 2rem;
}