.checkboxWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.textField {
    width: 80px;
}

.formGroup {
    margin-bottom: 8px;
}

.titleWrap {
    margin-bottom: 8px !important;
}

.wrapGrid {
    margin-top: 8px;
    margin-bottom: 8px;
}