.textField {
    width: 220px
}

.btnIcon {
    margin-left: 2px !important;
    margin-right: 4px !important;
}

.addBtnWrapper {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.btnSize {
    height: 56px;
    margin-left: 8px !important;
}

.align {
    display: flex;
    align-items: center;
}

.textFieldWrapper {
    width: 220px;
    margin-right: 8px !important;
}